<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toyproject.honeyimleaving">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.AddPlaceTaskActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.SendHistoryActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.AlertActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs4Xy5R-VELkzBSsUbRecz66ZWlg0rRKc" />

        <service android:name=".service.PlaceTaskGPSCheckService"></service>
        <service android:name=".service.HandlerServcie"></service>
        
    </application>

</manifest>